/*
 * Base structure
 */

 html,
 body {
   height: 95%;
   /* background-color: #333; */
 }
 
 .cover-container {
   max-width: 42em;
 }
 
 /*
  * Header
  */
 .masthead {
   margin-bottom: 2rem;
 }

 /*
  * Cover
  */
 .cover {
   padding: 0 1.5rem;
 }
 .cover .btn-lg {
   padding: .75rem 1.25rem;
   font-weight: 700;
 }
 
 .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

 .popover{ 
  /* width:100%; */
  max-width:1000px !important;
}