/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 98%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  /* .lead_new {
    margin-left: 10rem;
    margin-right: 10rem;
} */

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #ffffff00;
  border-radius: .3rem;
}

.container_index {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}
